[Unit]
Description=Generate a Wirtelprimpf image every two hours

[Timer]
OnBootSec=120min
OnUnitActiveSec=120min
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
